/*
# Creator: Arreaum
# GitHub: https://github.com/arriaoedu123/
# Creation date: 09/07/2021
# Update date: 10/07/2021
# Version: 1.1
*/

@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: #fff;
    cursor: default;
}
/* start navbar CSS */

nav {
    display: flex;
    height: 60px;
    width: 100%;
    background: #000000;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px 0 100px;
    flex-wrap: wrap;
}
nav .logo {
    color: #fff;
    font-size: 30px;
    font-weight: 600;
}

nav .logo a {
    text-decoration: none;
    cursor: pointer;
}
nav .logo img {
    width: 50px;
    height: 50px;
    float: left;
    margin-right: 10px;
    display: none;
}
nav ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}
nav ul li {
    margin: 0 5px;
}
nav ul li a {
    color: #f2f2f2;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    padding: 8px 15px;
    border-radius: 5px;
    letter-spacing: 1px;
    transition: all 0.3s ease;
}
nav ul li a.active, nav ul li a:hover {
    color: #111;
    background: #fff;
}
nav .menu-btn i {
    color: #fff;
    font-size: 22px;
    cursor: pointer;
    display: none;
}
input[type="checkbox"] {
    display: none;
}
/* end navbar CSS */

/* start featured container CSS */

.container {
    min-height: calc(100vh - 60px);
    background-color: #151515;
}

.game-image {
    height: 50vh;
    background-size: cover;
}

.game-title {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 65px;
    font-weight: bold;
    text-transform: uppercase;
}

details > summary {
    margin: 45px 0 0 45px;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    width: 350px;
}

.requirement-title {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 65px;
    font-weight: bold;
    text-transform: uppercase;
}

.components-title {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 65px;
    font-weight: bold;
    text-transform: uppercase;
}

.requirement-type {
    padding: 45px;
}

.components-type {
    padding: 45px;
}

.stores {
    padding: 10px 0 0 45px;
}

.requirement-desc {
    margin-left: 45px;
    padding: 0 0 0 47px;
}
/* end featured container CSS */

/* start responsive CSS */

@media (max-width: 1000px) {
    nav {
        padding: 0 40px 0 50px;
    }
}
@media (max-width: 920px) {
    nav .menu-btn i {
        display: block;
    }
    #click:checked~.menu-btn i:before {
        content: "\f00d";
    }
    nav ul {
        position: fixed;
        top: 60px;
        left: -100%;
        background: #111;
        height: 100vh;
        width: 100%;
        text-align: center;
        display: block;
        transition: all 0.3s ease;
    }
    #click:checked~ul {
        left: 0;
    }
    nav ul li {
        width: 100%;
        margin: 40px 0;
    }
    nav ul li a {
        width: 100%;
        margin-left: -100%;
        display: block;
        font-size: 20px;
        transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }
    #click:checked~ul li a {
        margin-left: 0px;
    }
    nav ul li a.active, nav ul li a:hover {
        background: none;
        color: cyan;
    }
}
/* end responsive css */