/*
# Creator: Arreaum
# GitHub: https://github.com/arriaoedu123/
# Creation date: 03/09/2021
# Version: 1.0
*/

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body{
  min-height: 100vh;
  background: #fff;
}

header{
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 25px;
  transition: 0.5s;
}

header.sticky{
  background: #1483D5;
}

header .brand{
  color: #fff;
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2px;
}

header .menu{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
}

header .menu a{
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
  margin: 0 5px;
  border-radius: 5px;
  padding: 5px 25px;
  transition: 0.3s;
  transition-property: color, background;
}

header .menu a:hover{
  color: #000;
  background: #fff;
}

header .btn{
  color: #fff;
  font-size: 25px;
  cursor: pointer;
  display: none;
}

/* index */

.section-main{
  position: relative;
  width: 100%;
  min-height: 100vh;
  background: url(../img/section_one.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 20px 100px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 5px, rgba(0, 0, 0, 0.3) 0px 10px, rgba(0, 0, 0, 0.2) 0px 15px, rgba(0, 0, 0, 0.1) 0px 20px, rgba(0, 0, 0, 0.05) 0px 25px;
}

.section-main h1 {
  font-size: 30px;
  color: #fff;
  text-transform: uppercase;
}

.section-main p {
  margin-top: 15px;
  color: #fff;
}

.container {
  border-radius: 10px 10px 0 0;
  width: 100%;
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
}

.content-container {
  width: 90%;
}

.section-one {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 110px;
}

.yoga,
.zumba,
.body-building {
  width: 340px;
  margin: 10px;
  display: flex;
  text-align: center;
  flex-direction: column;
  padding: 20px;
  border-radius: 10px;
  transition: transform 0.3s;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.yoga:hover,
.zumba:hover,
.body-building:hover {
  transform: scale(1.1);
}

.yoga i,
.zumba i,
.body-building i{
  font-size: 34px;
  color: #1483D5;
  margin-bottom: 10px;
}

.yoga h2,
.zumba h2,
.body-building h2{
  font-size: 34px;
  margin-bottom: 10px;
}

.separator { /* giving separator div a style */
  width: 100%;
  height: 2px;
  border: 2px solid #1483D5;
  background: #fff;
  display: flex;
  align-items: center;
}

.section-two .separator {
  margin: 50px 0;
  width: auto;
}

.separator h2 { /* centering separator div label and giving a color */
  color: #1483D5;
  background: #fff;
  text-transform: uppercase;
  padding: 0 10px;
  margin-left: 35px;
}

.section-two .separator h2 {
  font-size: 42px;
}

.section-two{
  padding: 20px 0;
  color: #000;
}

.section-two p{
  font-size: 18px;
  margin: 30px 0;
}

.section-tree {
  display: flex;
  justify-content: center;
  width: 100%;
  background: #1483D5;
  padding: 20px 20px 65px;
  border-radius: 10px;
}

.section-tree img {
  margin: 0 20px;
  border: 2px solid #fff;
}

/* slick slider css */
.section-tree .slick-prev,
.section-tree .slick-next {
  top: 110px;
  z-index: 99;
}

.section-tree .slick-prev {
  left: 10px;
}

.section-tree .slick-next {
  right: 10px;
}

.section-tree .slick-dots {
  width: auto;
  bottom: 20px;
}

.section-tree .slick-dotted.slick-slider {
  margin-bottom: 0;
}

.footer {
  width: 100%;
  height: 80px;
  background: #1483D5;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}
/* end slick slider css */
/* end index css */

/* personal css */

.personal {
  background: url(../img/section_one_personal.jpg) no-repeat;
  background-size: cover;
  background-position: center;
}

/* end personal css */

@media (max-width: 1060px){
  header .btn{
    display: block;
    margin-right: 20px;
  }

  header .menu{
    position: fixed;
    background: #1483D5;
    flex-direction: column;
    height: 100vh;
    top: 0;
    right: -100%;
    padding: 80px 50px;
    transition: 0.5s;
    transition-property: right;
  }

  header .menu.active{
    right: 0;
    width: 100%;
  }

  header .menu .close-btn{
    position: absolute;
    top: 0;
    left: 0;
    margin: 25px;
  }

  header .menu a{
    display: block;
    font-size: 20px;
    margin: 20px;
    padding: 0 15px;
  }
}

@media (max-width: 630px){
  .section-main h1{
    font-size: 50px;
    line-height: 60px;
  }
}
      